@using Panmedia.Artist.ViewModels;
@using Orchard.Mvc.Html;
@using Orchard.Utility.Extensions;

@model ArtistIndexVM
@{
    Layout.Title = T("Artists").ToString();
}

@using (Html.BeginFormAntiForgeryPost())
{
    @Html.ValidationSummary()
    <fieldset class="bulk-actions">
        <label for="publishActions">@T("Actions:")</label>
        <select id="publishActions" name="@Html.NameOf(m => m.Options.BulkAction)">
            @Html.SelectOption(Model.Options.BulkAction, ArtistIndexBulkAction.None, T("Choose action...").ToString())
            @*@Html.SelectOption(Model.Options.BulkAction, ArtistIndexBulkAction.Open, T("Open").ToString())
            @Html.SelectOption(Model.Options.BulkAction, ArtistIndexBulkAction.Close, T("Close").ToString())*@
            @Html.SelectOption(Model.Options.BulkAction, ArtistIndexBulkAction.Delete, T("Delete").ToString())
        </select>
        <button type="submit" name="submit.BulkEdit" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <fieldset class="bulk-actions">
        <label for="filterResults">@T("Filter:")</label>
        <select id="filterResults" name="@Html.NameOf(m => m.Options.Filter)">
            @Html.SelectOption(Model.Options.Filter, ArtistIndexFilter.All, T("All Artists").ToString())
            @Html.SelectOption(Model.Options.Filter, ArtistIndexFilter.Orphans, T("Orphan Artists").ToString())
            @Html.SelectOption(Model.Options.Filter, ArtistIndexFilter.MatchedPairs, T("Matched Pairs - Artists and Users").ToString())
        </select>
        <button type="submit" name="submit.Filter" value="@T("Apply")">@T("Apply")</button>
    </fieldset>
    <br />
    <fieldset class="bulk-actions">
        <a href="@Url.Action("Create", "Artist", new { area = "Panmedia.Artist", id = "Artist", returnUrl = @ViewContext.RequestContext.HttpContext.Request.ToUrlString() })">Create New Artist</a>
    </fieldset>
    <fieldset>
        <table class="items" summary="@T("This is a table of Artists in your application")">
            <colgroup>
                <col id="Col1" />
                <col id="Col2" />
                <col id="Col3" />
                <col id="Col4" />
                <col id="Col5" />
                <col id="Col6" />
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">&nbsp;&darr;</th>
                    <th scope="col">@T("Status")</th>
                    <th scope="col">@T("Artist Title")</th>
                    <th scope="col">@T("Created")</th>
                    <th scope="col">@T("Last Edit")</th>
                    <th scope="col">@T("Actions")</th>
                </tr>
            </thead>
            @{var artistIndex = 0;}
            <tbody>
                @foreach (var artistEntry in Model.Artists)
                {
                    <tr itemscope="itemscope" itemid="@artistEntry.Artist.Id" itemtype="http://panmedia.dk/data/Artist">
                        <td>
                            <input type="hidden" value="@artistEntry.Artist.Id" name="@Html.NameOf(m => m.Artists[artistIndex].Artist.Id)"/>
                            <input type="hidden" value="@artistEntry.ArtistTitle" name="@Html.NameOf(m =>  m.Artists[artistIndex].ArtistTitle)"/>
                            <input type="checkbox" value="true" name="@Html.NameOf(m =>  m.Artists[artistIndex].IsChecked)"/>
                        </td>
                        <td>
                            @if (artistEntry.IsOrphan)
                            { @T("Orphaned") }
                            else
                            { @T("Matched with user") }
                        </td>
                        <td>
                            <div class="ArtistTitle" itemprop="ArtistTitle">@artistEntry.ArtistTitle</div>
                        </td>
                        <td>
                            <div class="ArtistCreated">@artistEntry.Artist.CreatedUtc</div>
                        </td>
                        <td>
                            <div class="ArtistEdited">@artistEntry.Artist.LastEditedUtc</div>                       
                        </td>
                        <td>
                            <div class="actions">
                                @*@if (artistEntry.IsOrphan)
                                {
                                    <a href="@Url.Action("Close", new { eventEntry.Event.Id, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="CloseUrl UnsafeUrl">@T("Close")</a>@T(" | ")
                                }
                                else
                                {
                                    <a href="@Url.Action("Open", new { eventEntry.Event.Id, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="OpenUrl UnsafeUrl">@T("Open")</a>@T(" | ")
                                }*@
                                @*<a href="@Url.Action("Edit", new { area = "Contents", id = artistEntry.Artist.Id })" title="@T("Edit")">@T("Edit")</a>@T(" | ")*@
                                <a href="@Url.Action("Edit", new { id = artistEntry.Artist.Id })" title="@T("Edit")">@T("Edit")</a>@T(" | ")
                                @* kald til edit metoden på artist controlleren istedet - vil returnere view direkte, uden save knap*@
                                @*<a href="@Url.Action("Edit", "Artist", new { area = "Panmedia.Artist", id = artistEntry.Artist.Id })" title="@T("Edit")">@T("Edit")</a>@T(" | ")*@ 
                                <a href="@Url.Action("DeleteArtist", "Admin", new { artistEntry.Artist.Id, returnUrl = ViewContext.RequestContext.HttpContext.Request.ToUrlString() })" itemprop="RemoveUrl UnsafeUrl">@T("Delete")</a> @*@T(" | ")*@
                                @*<a href="@Url.Action("Details", new { eventEntry.Event.Id, })">@T("Details")</a>@T(" | ")*@                                
                            </div>
                        </td>
                    </tr>
                                artistIndex = artistIndex + 1;
                }
            </tbody>
        </table>
        @Display(Model.Pager)
    </fieldset>
}
